
<h1 class="about"><span style="color:blue">A</span>
    <span style="color:chocolate">b</span>
    <span style="color:violet">o</span>
    <span style="color:crimson">u</span>
    <span style="color:darkorange">t</span>
    <span style="color:aqua"> U
    <span style="color: chartreuse">s</span>

</h1>

<p class="learn"><span style=" text-shadow: 2px 2px 4px blue;">Learn</span>
    <span style=" text-shadow: 2px 2px 4px red;">more</span>
    <span style=" text-shadow: 2px 2px 4px gold;">about</span>
    <span style=" text-shadow: 2px 2px 4px purple;">our</span>
    <span style=" text-shadow: 2px 2px 4px tomato;">company.</span></p>
<div id="map"></div>
<script  src="map-script.js"></script>