



<h1 class="dyoas"> <span style="color:#FF0000">Welcome</span>
    <span style="color:violet">    to </span>
    <span style="color:blue"> the</span> 
    <span style="color:orangered"> Home</span> 
    <span style="color:palevioletred">Page</span>
    </h1>

<h3 class="dyoas1"><span style="color:lime">This</span>
    <span style="color:aqua"> is</span> 
    <span style="color:brown">the</span> 
    <span style="color:chartreuse">home</span> 
    <span style="color:blue">view</span> 
    <span style="color:#FF0000">of</span> 
    <span style="color:crimson">the</span> 
    <span style="color:gold">SPA.</span></h3>
